<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<style>
table td {
	vertical-align: top;
	border: solid 1px #888;
	padding: 10px;
}
</style>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<h1>My Error Page</h1>
	<table class="table table-hover">
		<tr>
			<td>Date</td>
			<td th:text="${timestamp}" />
		</tr>
		<tr>
			<td>Path</td>
			<td th:text="${path}" />
		</tr>
		<tr>
			<td>Error</td>
			<td th:text="${error}" />
		</tr>
		<tr>
			<td>Status</td>
			<td th:text="${status}" />
		</tr>
		<tr>
			<td>Message</td>
			<td th:text="${message}" />
		</tr>
	</table>
	<div align="center">
		<a href="/" class="btn btn-lg btn-primary">Click here to return
			the Welcome Page</a>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>